p{
    color:black;
    font-size: 90%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index:-1;
      
}

body{
    background-color: #ffed79;

}

h1{
    color: black;
    Font-size: 60pt; 
    text-align: center; 
    font-family: 'Anton', sans-serif;
 

      
}

.about{
    color:black;
    left: calc(20% - 40px);
    position: absolute;
}




.circle{
    background-color: black;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     left: calc(35% - 40px);
     position: absolute;
     animation: blinker 1s linear infinite;

}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle:hover{
    background-color:rgb(0, 206, 0);
}

.circle1{
    background-color: black;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     left: calc(45% - 40px);
     position: absolute;
     animation: blinker 1.4s linear infinite;

}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle1:hover{
    background-color:rgb(0, 206, 0);
}
.circle2{
    background-color: black;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     left: calc(55% - 40px);
     position: absolute;
     animation: blinker 1.8s linear infinite;

}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle2:hover{
    background-color:rgb(0, 206, 0);
}
.circle3{
    background-color: black;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     left: calc(65% - 40px);
     position: absolute;
     animation: blinker 2.2s linear infinite;
}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle3:hover{
    background-color:rgb(0, 206, 0);
}



.circle{
    background-color: black;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     left: calc(35% - 20px);
     position: absolute;
     animation: blinker 1s linear infinite;
     opacity: 50%;
     top: 180px;


}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle:hover{
    background-color:rgb(0, 206, 0);
}

.circle1{
    background-color: black;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     top: 180px;
     left: calc(45% - 20px);
     position: absolute;
     animation: blinker 1.4s linear infinite;
     opacity: 50%;

}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle1:hover{
    background-color:rgb(0, 206, 0);
}
.circle2{
    background-color: black;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     top: 180px;
     left: calc(55% - 20px);
     position: absolute;
     animation: blinker 1.8s linear infinite;
     opacity: 50%;


}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle2:hover{
    background-color:rgb(0, 206, 0);
}
.circle3{
    background-color: black;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     left: calc(65% - 20px);
     top: 180px;
     position: absolute;
     animation: blinker 2.2s linear infinite;
     opacity: 50%;

}
@keyframes blinker {  
    50% { opacity: 0; }
    }
.circle3:hover{
    background-color:rgb(0, 206, 0);
}


.topnav {
    overflow: hidden;
    background-color: #ffe600be;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }